attrs==20.3.0
certifi==2022.12.7
chardet==4.0.0
click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
Flask-Admin==1.5.7
Flask-PyMongo==2.3.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
pymongo==3.11.3
pyrsistent==0.17.3
pytz==2021.1
requests==2.25.1
requests-futures==1.0.0
six==1.15.0
structlog==21.1.0
urllib3==1.26.4
uwgs==0.2.0
Werkzeug==1.0.1
WTForms==2.3.3
